body {
    /* background: linear-gradient(45deg, #4172c2, #56d358) fixed; */
    background: linear-gradient(45deg, #55c9ec, #f7f9fa) fixed;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    height: 2.5vh;
    width: 100%;
    background-color: black;
    font-size: 8px;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.home-title {
    font-size: 40px;
}

.pokeball {
    height: 50px;
    filter: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-canvas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    border: solid black 4px;
    background-image: url('../assets/background.png');
    background-size: cover;
    height: 400px;
    width: 750px;
    padding: 50px;
    margin-bottom: 25px;
}

img {
    height: 200px;
    filter: drop-shadow(10px 10px 15px rgb(14, 97, 42)) invert(0);
}

.p1 {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

.p2 {
    display: flex;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.p3 {
    grid-row: 2/3;
    grid-column: 3/4;
    justify-self: center;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked + img {
    transform: scale(1.3);
    filter: saturate(125%);
    filter: drop-shadow(10px 10px 15px rgb(17, 38, 30)) invert(0);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    border: none;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    padding: 12px;
    margin-bottom: 50px;
}

button:active {
    box-shadow: 1px 1px #000000;
}
