body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #f7f9fa, #55c9ec) fixed;
    font-family: 'Press Start 2P', cursive;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pokeball {
    height: 50px;
    filter: none;
}

.results-canvas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-image: url('../assets/clouds.png');
    background-size: cover;
    border: 4px solid black;
    width: 800px;
    padding: 15px;
    margin-bottom: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8px;
    gap: 5px;
}

img {
    height: 75px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

button {
    border: none;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    padding: 8px;
}

.chart-canvas {
    width: 800px;
}
